<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Generic - SageDorms</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<script src="wishlist.js"></script>
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="index.html" class="logo"><strong>SageDorms</strong> </a>
			<nav id="nav">
				<a href="index.html">Home</a>
				<a href="generic.html">View & Search Dorms</a>
				<a href="wishlist.html">My Wishlist</a>
				<a href="elements.html">Elements</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<!-- Three -->
	<section id="three" class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h2>Clark I Hall</h2>
				<p>First Floor</p>
			</header>

		</div>
	</section>

	<div id="wrapper">
		<div class="item_wrapper">
			<ul class="room_list">
		
				<li class="room">
				  <div class="item_textbox">
					<div class="item_title"><h2>First one</h2></div>
					<div class="item_btnarea">
					  <button class="wishlist_button js_wishlist_button" data-name="First">ADD</button>
					</div>
				  </div>
				</li>
		
		
				<li class="room">
				  <div class="item_textbox">
					<div class="item_title"><h2>Second one</h2></div>
					<div class="item_btnarea">
					  <button class="wishlist_button js_wishlist_button" data-name="Second">ADD</button>
					</div>
				  </div>
				</li>

			</ul>
		</div>
	</div>




	<div class="columns">

		<div class="column is-4">

			<div class="card">

				<header class="card-header">
					<h3>100A</h3>
				</header>

				<div class="card-content">

					<div class="content">

						<ul>
							<li>Two room double</li>
							<li>177 square feet</li>
							<li>1 West facing crank window - view of Walker Beach</li>
							<li>outer room - indirect bath access</li>
						</ul>

					</div>

					<button class = "wishlist_button js_wishlist_button" data-roomName="100A">ADD HERE</button>

				</div>

			</div>
		</div>



		<div class="column is-4">

			<div class="card">

				<header class="card-header">
					<h3>100B</h3>
				</header>

				<div class="card-content">

					<div class="content">
						<ul>
							<li>Two room double</li>
							<li>121 square feet</li>
							<li>1 West facing crank window - view of Walker Beach</li>
							<li>outer room - indirect bath access</li>
						</ul>
					</div>

					<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Add</a>

				</div>

			</div>
		</div>



		<div class="column is-4">

			<div class="card">

				<header class="card-header">
					<h3 class>101A</h3>
				</header>

				<div class="card-content">

					<div class="content">
						<ul>
							<li>Two room double</li>
							<li>166 square feet</li>
							<li>1 West facing crank window - view of Walker Beach</li>
							<li>outer room - indirect bath access</li>
						</ul>
					</div>

					<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Add</a>

				</div>

			</div>
		</div>






	</div>
	<div class="columns">

		</section>



		<!-- Footer -->


		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>

</html>
