<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - SageDorms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

		<style type="text/css">
			[data-toggle="toggle"] {
			display: none;
			}
		</style>
	</head>

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="{{url_for('index')}}" class="logo"><strong>SageDorms</strong> </a>
			<nav id="nav">
				<a href="{{url_for('index')}}">Home</a>
				<a href="{{url_for('dorms')}}">View Dorms</a>
				<a href="{{url_for('selectionpage')}}">Search Dorms</a>
				<a href="{{url_for('suiteFormation')}}">Form Suite</a>
				<a href="{{url_for('viewSuiteMembers')}}">View Suite</a>
				<a href="{{url_for('wishlist')}}">My Wishlist</a>
				<a href="{{url_for('viewMyRoom')}}">My Room/Suite Selection</a>
				{% if loggedIn == False %}
					<a href="{{url_for('login')}}">Login</a>
				{% else %}
					<a href="{{url_for('logout')}}">Logout</a>
				{% endif %}
			</nav>
		</div>
	</header>


		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>View Suite Options</h2>

					</header>
<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Dorm Name</th>
				<th>Room #</th>
				<th>Square Feet</th>
				<th>Number of Occupants</th>
				<th>Connecting Room</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			<!-- [[('arkluonz', 1, 4, 4, 'NORTON-CLARK', None)], [('NORTON-CLARK', '27', 140.0, '', 1, 1, None), ('NORTON-CLARK', '28', 140.0, '', 1, 1, None), ('NORTON-CLARK', '29', 140.0, '', 1, 1, None), ('NORTON-CLARK', '30', 140.0, '', 1, 1, None)], []] -->
			{% for suite in data %}
				<tbody class="labels">
					<tr>
						<td colspan="7">
							<!-- ('hjeshkgd', 0, 6, 6, 'SMILEY', None) -->
							<label for="{{suite[0][0][0]}}">{{suite[0][0][4] ~ ": " ~ suite[0][0][3] ~ " people, " ~ suite[0][0][2] ~ " rooms. " ~ ("Sub free. " if suite[0][0][1] == 1 else "Not sub free. ") ~ (suite[0][0][5] if suite[0][0][5] != None else 'No additional info')}}</label>
							<input type="checkbox" name="{{suite[0][0][0]}}" id="{{suite[0][0][0]}}" data-toggle="toggle">
						</td>
						<td>
							{% if hasNotChosen %}
							<form action="viewMyRoom" method="post">
								<button type="submit" name="suite" value="{{suite[0][0][0]}}">Select</button>
							</form>
							{% endif %}
						</td>
					</tr>
				</tbody>
				<tbody class="hide">
					{% for room in suite[1] %}
						<tr>
							<td> {{room[0]}} </td>   <!-- Dorm Name -->
					        <td> {{room[1]}} </td>   <!-- Room # -->
					        <td> {{room[2]}} </td>   <!--  Sq Ft -->
					        <td> {{room[3]}} </td>   <!-- Num Occupants -->
					        <td> {{room[4] if room[4] != None else 'No connecting room'}} </td>   <!-- Connecting Room -->
					        <td colspan="4"> {{room[5] if room[5] != '' else 'No additional info'}} </td>   <!-- Details -->

						</tr>
					{% endfor %}
				</tbody>
				{% endfor %}
		</tbody>
	</table>
</div>

</div>
</section>

		<!-- Footer -->


		<!-- Scripts -->
		<!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="{{url_for('static', filename='js/jquery.min.css')}}" />
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
		<script>
		$(document).ready(function() {
 		$('[data-toggle="toggle"]').change(function(){
	 		$(this).parents().next('.hide').toggle();
 			});
		});
		</script>


	</body>
</html>
