<html>
  <head>
    <title>SageDorms Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
  </head>
  <body class = "subpage">
      <!-- Header -->
      {% include "header.html" %}
      <!-- Three -->
          <section id="three" class="wrapper">
              <div class="inner">
                  <header class="align-center">
                      <h2>Specify your roommate's 8-character email ID to select this double! </h2>

                  </header>
    <div>
    <div class="block">
      <br>
      <form id="selectDouble" action="viewMyRoom" method="post">
        <h>Specify your roommate for {{dormName}} {{number}}</h>
        <input type="hidden" name="double" value="{{dormName}} {{number}}">
        <input type="text" placeholder="Roommate 8-character Email ID" name="roommateEID"
              value="{{request.form.roommateEID}}">
        <button type="submit">Select Double</button>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>

</div>
</section>
  </body>

</html>
