<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - SageDorms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	</head>
	<body class="subpage">

		<!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="{{url_for('index')}}" class="logo"><strong>SageDorms</strong></a>
                <nav id="nav">
                    <a href="{{url_for('index')}}">Home</a>
                    <a href="{{url_for('dorms')}}">View & Search Dorms</a>
                    <a href="{{url_for('wishlist')}}">My Wishlist</a>
                </nav>
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>View Dorms</h2>
						<p>Select a dorm to view its rooms!</p>
					</header>
					
<div class="row">
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/wig.jpg')}}" alt="Wig" style="width:100%"/>
    <a href="wig.html"><center>Wig Hall</center></a>
  </div>
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/harwood.jpg')}}" alt="Harwood" style="width:100%"/>
    <a href="harwood.html"><center>Harwood Court</center></a>
  </div>
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/muddblais.jpg')}}" alt="Mudd-Blaisdell" style="width:100%"/>
    <a href="muddblais.html"><center>Mudd Blaisdell</center></a>
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/smiley.jpg')}}" alt="Smiley" style="width:100%"/>
    <a href="{{url_for('smiley')}}"><center>Smiley</center></a>
  </div>
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/walker.jpg')}}" alt="Walker" style="width:100%">
    <a href="walker.html"><center>Walker Hall</center></a>
  </div>
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/clark3.jpg')}}" alt="Clark3" style="width:100%">
    <a href="clark3.html"><center>Clark III</center></a>
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/clark5.jpg')}}" alt="Clark5" style="width:100%">
    <a href="clark5.html"><center>Clark V</center></a>
  </div>
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/clark1.jpg')}}" alt="Clark1" style="width:100%">
    <a href="clark1.html"><center>Clark I</center></a>
  </div>
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/norton.jpg')}}" alt="Norton" style="width:100%">
    <a href="norton.html"><center>Norton</center></a>
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/lawry.jpg')}}" alt="Lawry" style="width:100%">
    <a href="lawry.html"><center>Lawry Court</center></a>
  </div>
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/sontag.jpg')}}" alt="Sontag" style="width:100%">
    <a href="sontag.html"><center>Sontag</center></a>
  </div>
  <div class="column">
    <img src="{{url_for('static', filename='images/Dorms/dialynas.jpg')}}" alt="Dialynas" style="width:100%">
    <a href="dialynas.html"><center>Dialynas</center></a>
  </div>
</div>
					
				</div>
			</section>

		<!-- Footer -->
			

		<!-- Scripts -->
		<link rel="stylesheet" href="{{url_for('static', filename='js/jquery.min.css')}}" />
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

	</body>
</html>
