<html>
  <head>
    <title>SageDorms Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
  </head>
  <body>
    <div class="login_page">
    <div class="block">
      <br>
      <form id="cas" action="" method="post">
        <input type="text" placeholder="Pomona username" name="dispname"
              value="{{ request.form.dispname }}">
        <input type="password" placeholder="Password" name="password"
              value="{{ request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login" style="
            margin-top: 1vh;">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div>
  </body>
</html>
