<html>
  <head>
    <title>SageDorms Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
  </head>
  <body>
    <div class="login_page">
    <div class="block">
      <br>
      <form id="cas" action="" method="post">
        <select id="schools" type="text" name="school">
            <option value="none" selected disabled>Select your institution</option>
            <option value="pomona">Pomona College</option>
            <option value="pitzer">Pitzer College</option>
            <option value="cmc">Claremont McKenna College</option>
            <option value="hmc">Harvey Mudd College</option>
            <option value="scripps">Scripps College</option>
        </select>
        <input type="text" placeholder="Username" name="dispname"
              value="{{request.form.username }}">
        <input type="password" placeholder="Password" name="password"
              value="{{request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login" style="
            margin-top: 1vh;">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div>
  </body>
</html>
