<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - SageDorms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
        {% include "header.html" %}
		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Mudd Blaisdell</h2>
						<hr class="major" />

            <span class="image fit"><img src="images/maps/muddblaisdell_b.jpg" alt="" /></span>
						<p>Basement</p>
					</header>
					
				</div>
			</section>


							<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Room # or Suite #</th>
													<th>Description</th>
													<th>Add</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>WIG 1 Suite</td>
													<td>9 person friendship suite. Rooms 100A, 100B, 101, 102, 103.</td>
													<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
												</tr>
												<tr>
													<td>100A</td>
													<td>Double connected w/100B. 202 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>100B</td>
													<td> Single connected w/100A. 116 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>101</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>102</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>103</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
											</tbody>
											
										</table>
									</div>


									<header class="align-center">
									<span class="image fit"><img src="images/maps/mb1_16.jpg" alt="" /></span>
						<p>First Floor</p>
					</header>
					
				</div>
			</section>


							<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Room # or Suite #</th>
													<th>Description</th>
													<th>Add</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>WIG 1 Suite</td>
													<td>9 person friendship suite. Rooms 100A, 100B, 101, 102, 103.</td>
													<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
												</tr>
												<tr>
													<td>100A</td>
													<td>Double connected w/100B. 202 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>100B</td>
													<td> Single connected w/100A. 116 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>101</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>102</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>103</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
											</tbody>
											
										</table>
									</div>

									<header class="align-center">
									<span class="image fit"><img src="images/maps/mb2_3_15.jpg" alt="" /></span>
						<p>Second Floor</p>
					</header>
					
				</div>
			</section>


							<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Room # or Suite #</th>
													<th>Description</th>
													<th>Add</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>WIG 1 Suite</td>
													<td>9 person friendship suite. Rooms 100A, 100B, 101, 102, 103.</td>
													<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
												</tr>
												<tr>
													<td>100A</td>
													<td>Double connected w/100B. 202 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>100B</td>
													<td> Single connected w/100A. 116 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>101</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>102</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>103</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
											</tbody>
											
										</table>
									</div>

									<header class="align-center">
									
						<p>Third Floor</p>
					</header>
					
				</div>
			</section>


							<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Room # or Suite #</th>
													<th>Description</th>
													<th>Add</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>WIG 1 Suite</td>
													<td>9 person friendship suite. Rooms 100A, 100B, 101, 102, 103.</td>
													<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
												</tr>
												<tr>
													<td>100A</td>
													<td>Double connected w/100B. 202 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>100B</td>
													<td> Single connected w/100A. 116 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>101</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>102</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>103</td>
													<td>Double. 193 sq ft.</td>
													<td></td>
												</tr>
											</tbody>
											
										</table>
									</div>
		<!-- Footer -->
			

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
