<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Norton - SageDorms</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<script src="wishlist.js"></script>
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="index.html" class="logo"><strong>SageDorms</strong> </a>
			<nav id="nav">
				<a href="index.html">Home</a>
				<a href="generic.html">View & Search Dorms</a>
				<a href="wishlist.html">My Wishlist</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<!-- Three -->
	<section id="three" class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h2>Norton</h2>
				<hr class="major" />

				<span class="image fit"><img src="images/maps/norton15.jpg" alt="" /></span>
				<h4>Click on a room number to view more details about the room.</h4>
				<p>First Floor</p>
			</header>

		</div>
	</section>


	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Room # or Suite #</th>
					<th>Description</th>
					<th>Add</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>NORTON 1 Suite 1</td>
					<td>4 person friendship suite. Rooms 03, 04, 05, 07.</td>
					<td><button class="wishlist_button js_wishlist_button" data-name="Norton, 1 Suite 1">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">03</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 03" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">04</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 04" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">05</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 05" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">07</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 07" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>NORTON 1 Suite 2</td>
					<td>6 person friendship suite. Rooms 11, 13, 14, 15, 16, 17.</td>
					<td><button class="wishlist_button js_wishlist_button" data-name="Norton, 1 Suite 2">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">11</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 11" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">13</a></td>
					<td>Single. 137 sq ft.</td>
					<td><button type="submit" value="NORTON 13" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">14</a></td>
					<td>Single. 137 sq ft.</td>
					<td><button type="submit" value="NORTON 14" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">15</a></td>
					<td>Single. 137 sq ft.</td>
					<td><button type="submit" value="NORTON 15" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">16</a></td>
					<td>Single. 137 sq ft.</td>
					<td><button type="submit" value="NORTON 16" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">17</a></td>
					<td>Single. 137 sq ft.</td>
					<td><button type="submit" value="NORTON 17" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">01</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 01" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">02</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 02" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">06</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 06" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">08</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 08" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">10</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 10" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">12</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 12" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">18</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 18" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">19</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 19" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">20</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 20" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">21</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 21" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">22</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 22" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">23</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 23" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>

			</tbody>

		</table>
	</div>



	<header class="align-center">

		<p>Second Floor</p>
	</header>

	</div>
	</section>


	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Room # or Suite #</th>
					<th>Description</th>
					<th>Add</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>NORTON 2 Suite 1</td>
					<td>4 person friendship suite. Rooms 27, 28, 29, 30.</td>
					<td><button class="wishlist_button js_wishlist_button" data-name="Norton, 2 Suite 1">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">27</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 27" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">28</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 28" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">29</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 29" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">30</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 30" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>

				<tr>
					<td><a href = "viewRoomDetails">24</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 24" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">25</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 25" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">26</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 26" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">31</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 31" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">32</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 32" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">33</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 33" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td><a href = "viewRoomDetails">34</a></td>
					<td>Single. 140 sq ft.</td>
					<td><button type="submit" value="NORTON 34" class="wishlist_button js_wishlist_button" name="room">Wishlist</button>
						<a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Select</a></td>
				</tr>

			</tbody>

		</table>
	</div>
	<!-- Footer -->


	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>