<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - SageDorms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>SageDorms</strong> </a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="generic.html">View & Search Dorms</a>
						<a href="elements.html">My Wishlist</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->

			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Search Rooms</h2>
						<hr class="major" />

           
						<p>Filter Your Room Selection Results!</p>
					</header>
					
			
						<!-- <form method="post" action="#">-->
						<form action="/results" method="post" name="selectionFilter">
						<div class="row 200%">
							<div class="6u 12u$(medium)">

								<!-- Left Side -->
									<h4>Choose Dorm</h4>
									<div class="12u$">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="">- All Dorms -</option>
														<option value="1">Clark I</option>
														<option value="1">Clark III</option>
														<option value="1">Clark V</option>
														<option value="1">Dialynas</option>
														<option value="1">Harwood</option>
														<option value="1">Lawry</option>
														<option value="1">Mudd Blaisdell</option>
														<option value="1">Norton</option>
														<option value="1">Smiley</option>
														<option value="1">Sontag</option>
														<option value="1">Walker</option>
														<option value="1">Wig</option>
													</select>
												</div>
											</div>

								<!-- Lists -->
								<h3> </h3>
									<h4>Dorm Number</h4>
									<div class="6u 12u$(xsmall)">
												<input type="num" name="roomNum" id="roomNum" value="" placeholder="Room #" />
											</div>
										
									<h3> </h3>
									<h4>Misc.</h4>
									<div class="6u 12u$(small)">
												<input type="checkbox" id="bathroom" name="bathroom">
												<label for="bathroom">Has Private Bathroom</label>
											</div>
									<div class="6u 12u$(small)">
												<input type="checkbox" id="connect" name="connect">
												<label for="connect">Has Connecting Room</label>
											</div>
									


									

							</div>

					<div class="6u$ 12u$(medium)">

								<!-- Right Side -->
									<h4>Room Type</h4>
									<div class="4u 12u$(small)">
												<input type="radio" id="demo-priority-low" name="demo-priority" checked>
												<label for="demo-priority-low">Single</label>
											</div>
											<div class="4u 12u$(small)">
												<input type="radio" id="demo-priority-normal" name="demo-priority">
												<label for="demo-priority-normal">Double</label>
											</div>
											<div class="4u$ 12u$(small)">
												<input type="radio" id="demo-priority-high" name="demo-priority">
												<label for="demo-priority-high">Suite or Two Room Double</label>
											</div>

								<!-- Form -->
								<h3> </h3>
									<h4>Closet Type</h4>
									<div class="4u 12u$(small)">
												<input type="radio" id="walkin" name="demo-closet" checked>
												<label for="walkin">Walk In</label>
											</div>
											<div class="4u 12u$(small)">
												<input type="radio" id="bumpout" name="demo-closet">
												<label for="bumpout">Bump Out</label>
											</div>


									
									<h3> </h3>
							<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="Submit" /></li>
													</li>
												</ul>
											</div>
										</div>
									</form>
		<!-- Footer -->
		

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>