<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - SageDorms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
		<!-- assets/css/main.css -->
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{url_for('index')}}" class="logo"><strong>SageDorms</strong> </a>
					<nav id="nav">
						<a href="{{url_for('index')}}">Home</a>
						<a href="{{url_for('dorms')}}">View Dorms</a>
						<a href="{{url_for('selectionpage')}}">Search Dorms</a>
						<a href="{{url_for('suiteFormation')}}">Form Suite</a>
						<a href="{{url_for('viewSuiteMembers')}}">View Suite</a>
						<a href="{{url_for('wishlist')}}">My Wishlist</a>
						<a href="{{url_for('viewMyRoom')}}">My Room/Suite Selection</a>
                        {% if loggedIn == False %}
                            <a href="{{url_for('login')}}">Login</a>
                        {% else %}
                            <a href="{{url_for('logout')}}">Logout</a>
                        {% endif %}
					</nav>
					<!-- <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a> -->
				</div>
			</header>


		<!-- Three -->

			<section id="three" class="wrapper">
				<div class="inner">
					<!-- <header class="align-center"> -->
						<h3>Search Rooms</h3>
						<hr class="major" />


						<h2>Filter Your Room Selection Results for Singles or Doubles!</h2>
					</header>


						<!-- <form method="post" action="#">-->
						<form action="displayRoomSelectionInfo" method="POST" name="singleDoubleForm">
						<div class="row 200%">
							<div class="6u 12u$(medium)">

								<!-- Left Side -->
									<h4>Choose Dorm</h4>
									<div class="12u$">
												<div class="select-wrapper">
													<select name="dormName" id="dormName">
														<option value="">- All Dorms -</option>
														<option value="CLARK-I">Clark I</option>
														<option value="CLARK-V">Clark V</option>
														<option value="NORTON-CLARK">Norton/Clark III</option>
														<option value="LAWRY">Lawry</option>
														<option value="SMILEY">Smiley</option>
														<option value="WALKER">Walker</option>
														<option value="dialynas">Dialynas</option>
														<option value="harwood">Harwood</option>
														<option value="muddblais">Mudd Blaisdell</option>
														<option value="sontag">Sontag</option>
														<option value="wig">Wig</option>
													</select>
												</div>
											</div>

								<!-- Lists -->
								<h3> </h3>
									<h4>Room Number</h4>
									<div class="6u 12u$(xsmall)">
												<input type="Text" name="number" id="number" value="{{request.form.roomNum}}" placeholder="Room #" />
											</div>

									<h3> </h3>
									<h4>Misc.</h4>
									<div class="6u 12u$(small)">
												<input type="checkbox" id="hasPrivateBathroom" name="hasPrivateBathroom" value=true>
												<label for="hasPrivateBathroom">Has Private Bathroom</label>
											</div>
									<div class="6u 12u$(small)">
												<input type="checkbox" id="hasConnectingRoom" name="hasConnectingRoom" value=true>
												<label for="hasConnectingRoom">Has Connecting Room</label>
											</div>

											<div class="6u 12u$(small)">
												<input type="checkbox" id="isSubFree" name="isSubFree" value=true>
												<label for="isSubFree">Is Subfree</label>
											</div>

										<h3> </h3>




							</div>

					<div class="6u$ 12u$(medium)">

								<!-- Right Side -->
									<h4>Room Type</h4>
									<div class="4u 12u$(small)">
												<input type="radio" id="single" name="numOccupants" value=1>
												<label for="single">Single</label>
											</div>
											<div class="4u 12u$(small)">
												<input type="radio" id="double" name="numOccupants" value=2>
												<label for="double">Double</label>
											</div>


								<!-- Form -->




									<h3> </h3>
							<div class="12u$">
										<ul class="actions">
											<!-- <form action="displayRoomSelectionInfo.html" > -->
  											<button type="submit">Submit</button>
                                            </ul>
											</div>
										</div>
                                </form>


						<section id="three" class="wrapper">

						<hr class="major" />


						<h2>Filter Your Room Selection Results for Suites!</h2>
					</header>
						<form action="displaySuiteSelectionInfo" method="POST" name="suiteForm">


								<!-- Left Side -->

									<h4>Choose Dorm</h4>
									<div class="12u$">
												<div class="select-wrapper">
													<select name="dormName" id="demo-category">
														<option value="">- All Dorms -</option>
														<option value="CLARK-I">Clark I</option>
														<option value="NORTON-CLARK">Clark III</option>
														<option value="CLARK-V">Clark V</option>
														<option value="dialynas">Dialynas</option>
														<option value="harwood">Harwood</option>
														<option value="LAWRY">Lawry</option>
														<option value="muddblais">Mudd Blaisdell</option>
														<option value="NORTON-CLARK">Norton</option>
														<option value="SMILEY">Smiley</option>
														<option value="sontag">Sontag</option>
														<option value="WALKER">Walker</option>
														<option value="wig">Wig</option>
													</select>
												</div>
											</div>

								<!-- Lists -->
								<h3> </h3>
									<h4>Number of Occupants</h4>
									<div class="6u 12u$(xsmall)">
												<input type="Text" name="roomNum" id="roomNum" value="{{request.form.roomNum}}" placeholder="# People" />
											</div>

									<h3> </h3>
									<h4>Misc.</h4>
									<div class="6u 12u$(small)">
												<input type="checkbox" id="subfreesuite" name="isSubFree" value=true>
												<label for="subfreesuite">Is Subfree</label>
											</div>

					<div class="6u$ 12u$(medium)">


							<div class="12u$">
										<ul class="actions">
											<!-- <form action="displaySuiteSelectionInfo.html" > -->
  											<button type="submit">Submit</button>

												</ul>
											</div>
										</div>
									</form>
		<!-- Footer -->


		<!-- Scripts -->
		<!-- <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.min.css')}}" /> -->
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/skel.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/util.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>

	</body>
</html>
