<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - SageDorms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>SageDorms</strong> </a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="generic.html">View & Search Dorms</a>
						<a href="elements.html">My Wishlist</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->

			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Search Rooms</h2>
						<hr class="major" />


						<p>Filter Your Room Selection Results for Singles or Doubles!</p>
					</header>


						<!-- <form method="post" action="#">-->
						<form action="" method="post" name="singleDoubleForm">
						<div class="row 200%">
							<div class="6u 12u$(medium)">

								<!-- Left Side -->
									<h4>Choose Dorm</h4>
									<div class="12u$">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="">- All Dorms -</option>
														<option value="CLARK-I">Clark I</option>
														<option value="NORTON-CLARK">Clark III</option>
														<option value="CLARK-V">Clark V</option>
														<option value="dialynas">Dialynas</option>
														<option value="harwood">Harwood</option>
														<option value="LAWRY">Lawry</option>
														<option value="muddblais">Mudd Blaisdell</option>
														<option value="NORTON-CLARK">Norton</option>
														<option value="SMILEY">Smiley</option>
														<option value="sontag">Sontag</option>
														<option value="WALKER">Walker</option>
														<option value="wig">Wig</option>
													</select>
												</div>
											</div>

								<!-- Lists -->
								<h3> </h3>
									<h4>Dorm Number</h4>
									<div class="6u 12u$(xsmall)">
												<input type="Text" name="roomNum" id="roomNum" value="{{request.form.roomNum}}" placeholder="Room #" />
											</div>

									<h3> </h3>
									<h4>Misc.</h4>
									<div class="6u 12u$(small)">
												<input type="checkbox" id="bathroom" name="bathroom">
												<label for="bathroom">Has Private Bathroom</label>
											</div>
									<div class="6u 12u$(small)">
												<input type="checkbox" id="connect" name="connect">
												<label for="connect">Has Connecting Room</label>
											</div>

											<div class="6u 12u$(small)">
												<input type="checkbox" id="subfree" name="subfree">
												<label for="subfree">Is Subfree</label>
											</div>





							</div>

					<div class="6u$ 12u$(medium)">

								<!-- Right Side -->
									<h4>Room Type</h4>
									<div class="4u 12u$(small)">
												<input type="radio" id="single" name="single">
												<label for="single">Single</label>
											</div>
											<div class="4u 12u$(small)">
												<input type="radio" id="double" name="double">
												<label for="single">Double</label>
											</div>


								<!-- Form -->
								<h3> </h3>
									<h4>Closet Type</h4>
									<div class="4u 12u$(small)">
												<input type="radio" id="walkin" name="closet">
												<label for="walkin">Walk In</label>
											</div>
											<div class="4u 12u$(small)">
												<input type="radio" id="bumpout" name="closet">
												<label for="bumpout">Bump Out</label>
											</div>



									<h3> </h3>
							<div class="12u$">
										<ul class="actions">
											<li><input type="submit" value="Submit" /></li>
													</li>
												</ul>
											</div>
										</div>
									</form>


						<section id="three" class="wrapper">

						<hr class="major" />


						<p>Filter Your Room Selection Results for Suites!</p>
					</header>
						<form action="" method="post" name="suiteForm">


								<!-- Left Side -->

									<h4>Choose Dorm</h4>
									<div class="12u$">
												<div class="select-wrapper">
													<select name="demo-category" id="demo-category">
														<option value="">- All Dorms -</option>
														<option value="clark1">Clark I</option>
														<option value="clark3">Clark III</option>
														<option value="clark5">Clark V</option>
														<option value="dialynas">Dialynas</option>
														<option value="harwood">Harwood</option>
														<option value="lawry">Lawry</option>
														<option value="muddblais">Mudd Blaisdell</option>
														<option value="norton">Norton</option>
														<option value="smiley">Smiley</option>
														<option value="sontag">Sontag</option>
														<option value="walker">Walker</option>
														<option value="wig">Wig</option>
													</select>
												</div>
											</div>

								<!-- Lists -->
								<h3> </h3>
									<h4>Number of Occupants</h4>
									<div class="6u 12u$(xsmall)">
												<input type="Text" name="roomNum" id="roomNum" value="{{request.form.roomNum}}" placeholder="Room #" />
											</div>

									<h3> </h3>
									<h4>Misc.</h4>
									<div class="6u 12u$(small)">
												<input type="checkbox" id="subfreesuite" name="subfreesuite">
												<label for="subfreesuite">Is Subfree</label>
											</div>

					<div class="6u$ 12u$(medium)">


							<div class="12u$">
										<ul class="actions">
											<li><input type="submit" value="Submit" /></li>
													</li>
												</ul>
											</div>
										</div>
									</form>
		<!-- Footer -->


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
