<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Generic - SageDorms</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<script src="wishlist.js"></script>
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="index.html" class="logo"><strong>SageDorms</strong> </a>
			<nav id="nav">
				<a href="index.html">Home</a>
				<a href="generic.html">View & Search Dorms</a>
				<a href="wishlist.html">My Wishlist</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<!-- Three -->
	<section id="three" class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h2>Smiley Hall</h2>
				<hr class="major" />

				<span class="image fit"><img src="images/maps/smiley15.jpg" alt="" /></span>
				<p>First Floor</p>
			</header>

		</div>
	</section>

	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Room # or Suite #</th>
					<th>Description</th>
					<th>Add</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>SMILEY 1 Suite 1</td>
					<td>6 person friendship suite. Rooms 101, 102, 103, 104, 105, 107.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>101</td>
					<td>Single. 99 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>102</td>
					<td>Single. 133 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>103</td>
					<td>Single. 125 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>104</td>
					<td>Single. 119 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>105</td>
					<td>Single. 105 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>107</td>
					<td>Single. 102 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>106</td>
					<td>Single. 124 sq ft.</td>
					<td><button class="wishlist_button js_wishlist_button" data-name="Smiley, 106">ADD</button></td>
						 
				</tr>
				<tr>
					<td>108</td>
					<td>Single. 96 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>109</td>
					<td>Single. 123 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>110</td>
					<td>Single. 127 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>111</td>
					<td>Single. 118 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>112</td>
					<td>Single. 115 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>113</td>
					<td>Single. 138 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>114</td>
					<td>Single. 95 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>114</td>
					<td>Single. 95 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>

			</tbody>
		</table>
	</div>



	<header class="align-center">

		<p>Second Floor</p>
	</header>

	</div>
	</section>
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<td>SMILEY 2 Suite 1</td>
					<td>6 person friendship suite. Rooms 201, 202, 203, 204, 205, 207.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>201</td>
					<td>Single. 143 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>202</td>
					<td>Single. 122 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>203</td>
					<td>Single. 125 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>204</td>
					<td>Single. 112 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>205</td>
					<td>Single. 112 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>207</td>
					<td>Single. 102 sq ft.</td>
					<td></td>
				</tr>

				<tr>
					<td>206</td>
					<td>Single. 1 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>208</td>
					<td>Single. 96 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>209</td>
					<td>Single. 121 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>210</td>
					<td>Single. 98 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>211</td>
					<td>Single. 92 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>212</td>
					<td>Single. 124 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>213</td>
					<td>Single. 113 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>214</td>
					<td>Single. 96 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>215</td>
					<td>Single. 98 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>216</td>
					<td>Single. 101 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>217</td>
					<td>Single. 102 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>218</td>
					<td>Single. 112 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>219</td>
					<td>Single. 116 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>220</td>
					<td>Single. 109 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>221</td>
					<td>Single. 87 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				</tbody>
		</table>
	</div>




	<header class="align-center">

		<p>Third Floor</p>
	</header>

	</div>
	</section>


	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Room # or Suite #</th>
					<th>Description</th>
					<th>Add</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td>SMILEY 3 Suite 1</td>
					<td>6 person friendship suite. Rooms 301, 302, 303, 304, 305, 307.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>301</td>
					<td>Single. 94 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>302</td>
					<td>Single. 133 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>303</td>
					<td>Single. 98 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>304</td>
					<td>Single. 119 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>305</td>
					<td>Single. 100 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>307</td>
					<td>Single. 121 sq ft.</td>
					<td></td>
				</tr>
				<tr>
					<td>306</td>
					<td>Single. 121 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>308</td>
					<td>Single. 98 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>309</td>
					<td>Single. 129 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>310</td>
					<td>Single. 99 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>311</td>
					<td>Single. 92 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>312</td>
					<td>Single. 135 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>313</td>
					<td>Single. 101 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>314</td>
					<td>Single. 104 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>315</td>
					<td>Single. 107 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>316</td>
					<td>Single. 100 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>317</td>
					<td>Single. 109 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>318</td>
					<td>Single. 118 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>319</td>
					<td>Single. 117 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>320</td>
					<td>Single. 109 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>321</td>
					<td>Single. 125 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
				<tr>
					<td>322</td>
					<td>Single. 125 sq ft.</td>
					<td><a class="button is-info is-outlined" href="/housing/rooms/2/reviews">Wishlist</a> <a class="button is-info is-outlined"
						 href="/housing/rooms/2/reviews">Select</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Footer -->


	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>