<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - SageDorms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="{{url_for('index')}}" class="logo"><strong>SageDorms</strong> </a>
				<nav id="nav">
					<a href="{{url_for('index')}}">Home</a>
					<a href="{{url_for('dorms')}}">View Dorms</a>
					<a href="{{url_for('selectionpage')}}">Search Dorms</a>
					<a href="{{url_for('suiteFormation')}}">Form Suite</a>
					<a href="{{url_for('viewSuiteMembers')}}">View Suite Group</a>
					<a href="{{url_for('wishlist')}}">My Wishlist</a>
					<a href="{{url_for('viewMyRoom')}}">My Room/Suite Selection</a>
					{% if loggedIn == False %}
						<a href="{{url_for('login')}}">Login</a>
					{% else %}
						<a href="{{url_for('logout')}}">Logout</a>
					{% endif %}
				</nav>
			</div>
		</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Sontag</h2>
						<hr class="major" />

            <span class="image fit"><img src="images/maps/sontag_1.jpg" alt="" /></span>
						<h4>Click on a room number to view more details about the room.</h4>
						<p>First Floor</p>
					</header>

				</div>
			</section>

							<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Room # or Suite #</th>
													<th>Description</th>

												</tr>
											</thead>
											<tbody>
												<tr>
													<td>SONTAG 110 Suite</td>
													<td>4 person friendship suite. Rooms 111, 112, 113, 114.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">111</a></td>
													<td>Single. 121 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">112</a></td>
													<td>Single. 132 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">113</a></td>
													<td>Single. 123 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">114</a></td>
													<td>Single. 138 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 120 Suite</td>
													<td>4 person friendship suite. Rooms 121, 122, 123, 124.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">121</a></td>
													<td>Single. 120 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">122</a></td>
													<td>Single. 136 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">123</a></td>
													<td>Single. 123 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">124</a></td>
													<td>Single. 139 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 130 Suite</td>
													<td>6 person friendship suite. Rooms 131, 132, 133, 134, 135, 136.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">131</a></td>
													<td>Single. 120 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">132</a></td>
													<td>Single. 131 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">133</a></td>
													<td>Single. 125 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">134</a></td>
													<td>Single. 131 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">135</a></td>
													<td>Single. 129 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">136</a></td>
													<td>Single. 153 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 140 Suite</td>
													<td>4 person friendship suite. Rooms 141, 142, 143, 144.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">141</a></td>
													<td>Single. 126 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">142</a></td>
													<td>Single. 138 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">143</a></td>
													<td>Single. 122 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">144</a></td>
													<td>Single. 137 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 150 Suite</td>
													<td>4 person friendship suite. Rooms 151, 152, 153, 154.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">151</a></td>
													<td>Single. 125 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">152</a></td>
													<td>Single. 138 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">153</a></td>
													<td>Single. 121 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">154</a></td>
													<td>Single. 137 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 160 Suite</td>
													<td>6 person friendship suite. Rooms 161, 162, 163, 164, 165, 166.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">161</a></td>
													<td>Single. 130 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">162</a></td>
													<td>Single. 132 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">163</a></td>
													<td>Single. 127 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">164</a></td>
													<td>Single. 132 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">165</a></td>
													<td>Single. 130 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">166</a></td>
													<td>Single. 138 sq ft.</td>
													<td></td>
												</tr>
												</tbody>
										</table>
									</div>



						<header class="align-center">
				<span class="image fit"><img src="images/maps/sontag_2_16.jpg" alt="" /></span>
						<p>Second Floor</p>
					</header>

				</div>
			</section>
			<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Room # or Suite #</th>
													<th>Description</th>

												</tr>
											</thead>
											<tbody>

												<tr>
													<td>SONTAG 210 Suite</td>
													<td>4 person friendship suite. Rooms 211, 212, 213, 214.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">211</a></td>
													<td>Single. 120 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">212</a></td>
													<td>Single. 132 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">213</a></td>
													<td>Single. 121 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">214</a></td>
													<td>Single. 139 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 220 Suite</td>
													<td>4 person friendship suite. Rooms 221, 222, 223, 224.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">221</a></td>
													<td>Single. 121 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">222</a></td>
													<td>Single. 137 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">223</a></td>
													<td>Single. 121 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">224</a></td>
													<td>Single. 138 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 230 Suite</td>
													<td>6 person friendship suite. Rooms 231, 232, 233, 234, 235, 236.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">231</a></td>
													<td>Single. 129 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">232</a></td>
													<td>Single. 131 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">233</a></td>
													<td>Single. 125 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">234</a></td>
													<td>Single. 131 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">235</a></td>
													<td>Single. 129 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">236</a></td>
													<td>Single. 153 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 240 Suite</td>
													<td>4 person friendship suite. Rooms 241, 242, 243, 124.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">241</a></td>
													<td>Single. 125 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">242</a></td>
													<td>Single. 138 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">243</a></td>
													<td>Single. 122 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">244</a></td>
													<td>Single. 137 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 250 Suite</td>
													<td>4 person friendship suite. Rooms 251, 252, 253, 254.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">251</a></td>
													<td>Single. 125 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">252</a></td>
													<td>Single. 139 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">253</a></td>
													<td>Single. 122 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">254</a></td>
													<td>Single. 137 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 260 Suite</td>
													<td>6 person friendship suite. Rooms 261, 262, 263, 264, 265, 266.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">261</a></td>
													<td>Single. 130 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">262</a></td>
													<td>Single. 132 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">263</a></td>
													<td>Single. 127 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">264</a></td>
													<td>Single. 132 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">265</a></td>
													<td>Single. 128 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">266</a></td>
													<td>Single. 136 sq ft.</td>
													<td></td>
												</tr>
												</tbody>
										</table>
									</div>




								<header class="align-center">
				<span class="image fit"><img src="images/maps/sontag_3.jpg" alt="" /></span>
						<p>Third Floor</p>
					</header>

				</div>
			</section>


							<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Room # or Suite #</th>
													<th>Description</th>

												</tr>
											</thead>
											<tbody>

												<tr>
													<td>SONTAG 310 Suite</td>
													<td>4 person friendship suite. Rooms 311, 312, 313, 314.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">311</a></td>
													<td>Single. 120 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">312</a></td>
													<td>Single. 133 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">313</a></td>
													<td>Single. 121 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">314</a></td>
													<td>Single. 139 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 320 Suite</td>
													<td>4 person friendship suite. Rooms 321, 322, 323, 324.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">321</a></td>
													<td>Single. 121 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">322</a></td>
													<td>Single. 136 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">323</a></td>
													<td>Single. 122 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">324</a></td>
													<td>Single. 139 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td>SONTAG 330 Suite</td>
													<td>6 person friendship suite. Rooms 331, 332, 333, 334, 335, 336.</td>

												</tr>
												<tr>
													<td><a href = "viewRoomDetails">331</a></td>
													<td>Single. 128 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">332</a></td>
													<td>Single. 131 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">333</a></td>
													<td>Single. 125 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">334</a></td>
													<td>Single. 131 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">335</a></td>
													<td>Single. 128 sq ft.</td>
													<td></td>
												</tr>
												<tr>
													<td><a href = "viewRoomDetails">336</a></td>
													<td>Single. 153 sq ft.</td>
													<td></td>
												</tr>

												</tbody>
										</table>
									</div>
		<!-- Footer -->


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
