<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - SageDorms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{url_for('index')}}" class="logo"><strong>SageDorms</strong> </a>
					<nav id="nav">
						<a href="{{url_for('index')}}">Home</a>
						<a href="{{url_for('dorms')}}">View Dorms</a>
						<a href="{{url_for('selectionpage')}}">Search Dorms</a>
						<a href="{{url_for('wishlist')}}">My Wishlist</a>
                        {% if loggedIn == False %}
                            <a href="{{url_for('login')}}">Login</a>
                        {% else %}
                            <a href="{{url_for('logout')}}">Logout</a>
                        {% endif %}
                        <a href="{{url_for('test')}}">Developer Tool</a>
					</nav>
				</div>
			</header>


		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>View Your Suite Group</h2>

					</header>
<div class="table-wrapper">
<table>
<thead>
<tr>
	<th>Member Name</th>
	<th>Email ID</th>
	<th>Is Representative</th>
		{% for suitegroup in data %}
			<!-- example of the suite group: [('Gabe Alzate', 'gpaa2018'), ('Helen Paulini', 'hpaa2018')] -->
			{% for person in suitegroup %}
				</tr>
					<td> {{person[0]}} </td>   <!-- Member Name -->
			        <td> {{person[1]}} </td>   <!-- Email ID -->
			        <td> {{"Yes" if person[2] == 1 else "No"}} </td>   <!-- Is Rep -->
				<tr>
			{% endfor %}
    	{% endfor %}
</tr>
</thead>
</table>
</div>

</div>
</section>

		<!-- Footer -->


		<!-- Scripts -->
		<link rel="stylesheet" href="{{url_for('static', filename='js/jquery.min.css')}}" />
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

	</body>
</html>
