<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - SageDorms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	</head>
	<body class="subpage">

		<!-- Header -->
        {% include "header.html" %}

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>View Room Options</h2>

					</header>
<div class="table-wrapper">
<table>
<thead>
<tr>
	<th>Dorm Name</th>
	<th>Room #</th>
	<th>Square Feet</th>
	<th>Number of Occupants</th>
	<th>Sub Free</th>
	<th>Connecting Room</th>
	<th>Details</th>
	<th>Add</th>

</tr>
</thead>
</table>
</div>

</div>
</section>

		<!-- Footer -->


		<!-- Scripts -->
		<link rel="stylesheet" href="{{url_for('static', filename='js/jquery.min.css')}}" />
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

	</body>
</html>
