<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Generic - SageDorms</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	<script src="{{url_for('static', filename='js/result.js')}}"></script>
</head>

<body class="subpage">

	<!-- Header -->
    {% include "header.html" %}
	<!-- Three -->
	<section id="three" class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h2>My Wishlist</h2>
			</header>

		</div>
	</section>

    <div class="table-wrapper">
    <table>
    <thead>
		<tr>
			<th>Dorm Name</th>
			<th>Room #</th>
			<th>Square Feet</th>
			<th>Number of Occupants</th>
			<th>Sub Free</th>
			<th>Connecting Room</th>
			<th>Details</th>
			{% for roomList in data %}
				<tr>
					{% for room in roomList %}
						<td> {{room[0]}} </td>   <!-- Dorm Name -->
						<td> {{room[1]}} </td>   <!-- Room # -->
						<td> {{room[2]}} </td>   <!--  Sq Ft -->
						<td> {{room[3]}} </td>   <!-- Num Occupants -->
						<td> {{"Yes" if room[4] == 1 else "No"}} </td>   <!-- Subfree -->
						<td> {{room[5] if room[5] != None else 'No connecting room'}} </td>   <!-- Connecting Room -->
						<td> {{room[6] if room[6] != '' else 'No additional info'}} </td>   <!-- Details -->
						<td>
							<form action="" method="post">
								<button type="submit" name="removeRoom" value="{{room[0]}} {{room[1]}}">Remove</button>
							</form>
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
	</tr>
    </thead>
    </table>
    </div>


	<!-- <div class="columns"> -->

	<!-- 	<ul id="js_result_list" class="result_list"></ul> -->
	<!-- 	<!-1- <button>DELETE</button> -1-> -->


	<!-- </div> -->
	<!-- <div class="columns"> -->

		<!-- Footer -->

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>

</html>
