<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Generic - SageDorms</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	<script src="{{url_for('static', filename='js/result.js')}}"></script>
</head>

<body class="subpage">

	<!-- Header -->
    {% include "header.html" %}
	<!-- Three -->
	<section id="three" class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h2>My Wishlist</h2>
			</header>

		</div>
	</section>

    <div class="table-wrapper">
    <table>
    <thead>
    <tr>
        <th>Dorm Name</th>
        <th>Room #</th>
        {% for room in data %}
            {% for item in room %}
            <tr>
                <td> {{item[0]}} </td>   <!-- Dorm Name -->
                <td> {{item[1]}} </td>   <!-- Room # -->
            </tr>
            {% endfor %}
        {% endfor %}
    </tr>
    </thead>
    </table>
    </div>


	<!-- <div class="columns"> -->

	<!-- 	<ul id="js_result_list" class="result_list"></ul> -->
	<!-- 	<!-1- <button>DELETE</button> -1-> -->


	<!-- </div> -->
	<!-- <div class="columns"> -->

		<!-- Footer -->

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>

</html>
